:root {
  font-size: 10px;
  --black-surface: #121212;
  --slider-bg: #89DD65;
  --main-bg: #FFFFFF;
  --secondary-bg: #F5F5F7;
  --for-border: 0.5px solid #121212;
  --main-elem: #121212;
  -webkit-transition: .5 ease all;
  transition: .5 ease all;
}

[theme='dark'] {
  font-size: 10px;
  --black-surface: #89DD65;
  --slider-bg: linear-gradient(171.08deg, #FFFFFF -1.08%, #D9D9D9 101.93%);
  --main-bg: #121212;
  --for-border: 0.5px solid #E0E0E0;
  --secondary-bg: #333333;
  --main-elem: #E0E0E0;
  -webkit-transition: .5 ease all;
  transition: .5 ease all;
}

[theme='dark'] .header_low_container .burger-header_menu {
  background-size: 100%;
}

[theme='dark'] .main_pamm-service .tableArea_main-table .table_row .row_element_graph {
  mix-blend-mode: lighten;
}

#check-menu:checked body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#check-menu {
  display: none;
}

a {
  text-decoration: none;
}

.header {
  height: 13.5rem;
}

.header .upper-header {
  background-color: var(--secondary-bg);
  height: 3.8rem;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header_top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
}

.header_top_container_mode-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_container .mode_dropdown {
  display: none;
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 300;
  line-height: 2.5rem;
  cursor: pointer;
}

.header_top_container .mode_item {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 300;
  line-height: 2.5rem;
  margin-right: 4rem;
  cursor: pointer;
}

.header_top_container .mode_item:nth-child(2) {
  text-decoration: underline;
}

.header_top_container_login-language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19.8rem;
}

.header_top_container .login_item {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  line-height: 2.5rem;
  font-weight: 600;
  color: #89DD65;
  cursor: pointer;
}

.header_top_container .login_item::after {
  content: '|';
  position: absolute;
  margin-left: 1.5rem;
}

.header_top_container .language_change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_top_container .arrow_btn {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  background: url(./img/arrow_drop_down.svg) no-repeat;
}

.header_top_container .language_item {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 300;
  line-height: 2.5rem;
}

.header_top_container .theme_button {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  background: url(./img/sun.svg) no-repeat;
}

.header .lower-header {
  height: 9.52rem;
  border-top: .05rem solid #89DD65;
  border-bottom: .05rem solid #89DD65;
  background-color: var(--main-bg);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  position: fixed;
  top: 3.8rem;
  width: 100%;
  z-index: 2;
}

.header_low_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
}

.header_low_container_main_logo {
  background: url(./img/main_logo.svg) no-repeat;
  height: 2.7rem;
  cursor: pointer;
  width: 15%;
  min-width: 20rem;
}

.header_low_container .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82%;
}

.header_low_container_header_navigation {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  text-align: right;
  line-height: 3.5rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49.5rem;
}

.header_low_container_header_navigation .nav_item {
  cursor: pointer;
}

.header_low_container_header_navigation .nav-item_drop {
  color: var(--main-elem);
}

.header_low_container_header_navigation .nav-item_drop_active {
  text-decoration: underline;
  position: relative;
  display: inline-block;
  color: var(--main-elem);
}

.header_low_container_header_navigation .arrow_btn {
  display: inline-block;
  width: 2.4rem;
  height: 1.8rem;
  background: url(./img/arrow_drop_down.svg) no-repeat;
  cursor: pointer;
}

.header_low_container_header_navigation .dropdown-content {
  display: none;
  position: absolute;
  min-width: 14rem;
  z-index: 1;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  top: 4rem;
  padding-top: 2rem;
}

.header_low_container_header_navigation .dropdown-content a {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 300;
  line-height: 2.5rem;
  background-color: var(--main-bg);
  color: var(--main-elem);
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  text-align: left;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.header_low_container_header_navigation .dropdown-content a {
  display: block;
}

.header_low_container_header_navigation .dropdown-content a:hover {
  background-color: var(--secondary-bg);
}

.header_low_container_header_navigation .nav_item:hover .dropdown-content {
  display: block;
}

.header_low_container_open_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  width: 44.3rem;
}

.header_low_container_open_buttons .open_buttonOne {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  text-align: center;
  line-height: 2.5rem;
  font-weight: 400;
  background: linear-gradient(225deg, #89DD65 0%, #AEDD65 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7rem;
  width: 19.7rem;
  cursor: pointer;
  color: #121212;
}

.header_low_container_open_buttons .open_buttonTwo {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  text-align: center;
  line-height: 2.5rem;
  font-weight: 400;
  border: 1px solid var(--main-elem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7rem;
  width: 22.6rem;
  cursor: pointer;
}

.header_low_container .burger-header_menu {
  display: none;
  height: 4rem;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .header .header_top_container {
    margin: 0 2rem 0 2rem;
  }
  .header .header_top_container .mode_item {
    font-size: 1.5rem;
  }
  .header .header_low_container {
    margin: 0 2rem 0 2rem;
  }
  .header .header_low_container .header-navigation {
    width: 100%;
    height: 100rem;
    -webkit-transform: translateY(45.5rem);
            transform: translateY(45.5rem);
    max-height: 0;
    overflow: hidden;
  }
  .header .header_low_container .burger-header_menu {
    min-width: 4rem;
  }
  .header .header_low_container_open_buttons {
    position: relative;
    height: 15rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 100rem;
  }
  .header .header_low_container_open_buttons .open_buttonOne, .header .header_low_container_open_buttons .open_buttonTwo {
    width: 75%;
    height: 5rem;
    line-height: 1.5rem;
  }
  .header .header_low_container_header_navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    line-height: 5rem;
    width: 40%;
    margin-left: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .header_low_container_header_navigation .nav_item {
    font-size: 3rem;
  }
  .header .header_low_container_header_navigation .dropdown-content {
    position: relative;
    top: 0;
    padding: 0;
    overflow-y: scroll;
  }
  .header .header_low_container #check-menu:checked ~ .header-navigation {
    position: fixed;
    max-height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 2;
    background-color: var(--main-bg);
    right: 0;
    top: -33rem;
    border-bottom: 6px solid #89DD65;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .header .burger-header_menu {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .header .mode_dropdown {
    display: inline;
    font-size: 1.5rem;
  }
  .header .mode_item {
    display: none;
  }
}

.main .qualified-support-container_wrapper {
  background-color: var(--main-bg);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.main_qualified-support_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_qualified-support_container .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem 0 2rem;
  max-width: 120rem;
  width: 100%;
}

.main_qualified-support_container .text {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_qualified-support_container .title {
  max-width: 42rem;
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-size: 3rem;
  font-weight: 700;
  color: var(--black-surface);
  margin-bottom: 5rem;
}

.main_qualified-support_container .subtitle {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 400;
  line-height: 2.7rem;
}

.main_qualified-support_container .img-slidero {
  background-image: url(./img/keyboard.jpg);
  min-width: 79rem;
  min-height: 49.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_qualified-support_container .img-slidero .slider {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 13.1rem;
  height: 6rem;
  background-color: var(--slider-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main_qualified-support_container .img-slidero .slider .none {
  display: none;
}

.main_qualified-support_container .img-slidero .slider .arrow_left, .main_qualified-support_container .img-slidero .slider .arrow_right {
  background: url(./img/arrow_drop_down.svg) no-repeat;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.main_qualified-support_container .img-slidero .slider .arrow_right {
  background: url(./img/arrow_drop_down.svg) no-repeat;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main_qualified-support_container .img-slidero .slider .counter {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 400;
  line-height: 3rem;
  color: #121212;
}

.main_qualified-support_container .img-slider .slider {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 13.1rem;
  height: 6rem;
  background: var(--slider-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_qualified-support_container .img-slider .slider .none {
  display: none;
}

.main_qualified-support_container .img-slider .slider .arrow_left, .main_qualified-support_container .img-slider .slider .arrow_right {
  background: url(./img/arrow_drop_down.svg) no-repeat;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

.main_qualified-support_container .img-slider .slider .arrow_right {
  background: url(./img/arrow_drop_down.svg) no-repeat;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main_qualified-support_container .img-slider .slider .counter {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 400;
  line-height: 3rem;
  color: #121212;
}

@media screen and (max-width: 1140px) {
  .main_qualified-support_container .area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_qualified-support_container .text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2rem;
  }
  .main_qualified-support_container .text .title {
    margin: 0;
    margin-right: 2rem;
    width: 50%;
  }
  .main_qualified-support_container .text .subtitle {
    width: 50%;
  }
  .main_qualified-support_container .img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .main_qualified-support_container .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_qualified-support_container .text .title, .main_qualified-support_container .text .subtitle {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.main_for-container {
  background-color: var(--secondary-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.main_for-container .for-items-container {
  margin: 13rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120rem;
  width: 100%;
}

.main_for-container .for-items-container .for_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: var(--for-border);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38rem;
}

.main_for-container .for-items-container .for_item .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 32.5rem;
  margin: 3rem 0;
  padding: 2rem 0;
}

.main_for-container .for-items-container .for_item .img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1.5rem;
  -webkit-transition: .5s ease opacity;
  transition: .5s ease opacity;
}

.main_for-container .for-items-container .for_item .img_person {
  background: url(./img/person.png) no-repeat;
}

.main_for-container .for-items-container .for_item .img_bag {
  background: url(./img/bag.png) no-repeat;
}

.main_for-container .for-items-container .for_item .img_technology {
  background: url(./img/technology.png) no-repeat;
}

.main_for-container .for-items-container .for_item .for-text {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  text-align: center;
  font-weight: 700;
  line-height: 4rem;
  color: var(--black-surface);
  margin-bottom: 2.5rem;
}

.main_for-container .for-items-container .for_item .subtitle {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 400;
  line-height: 2.7rem;
}

@media screen and (max-width: 1140px) {
  .main_for-container .for-items-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 6rem 2rem 6rem 2rem;
  }
  .main_for-container .for-items-container .for_item {
    width: 100%;
  }
  .main_for-container .for-items-container .for_item .content-container {
    margin: 0 3rem;
    max-width: 100%;
  }
}

.main_pamm-service {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  padding: 14.1rem 0 12.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-bg);
}

.main_pamm-service .pamm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 120rem;
}

.main_pamm-service .pamm-container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_pamm-service .pamm-container .title {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: var(--black-surface);
  width: 100%;
}

.main_pamm-service .pamm-container .subtitle {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 400;
  line-height: 2.7rem;
}

.main_pamm-service .tableArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10.9rem;
}

.main_pamm-service .tableArea_main-table .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  margin-bottom: 3rem;
}

.main_pamm-service .tableArea_main-table .title-container .title_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.2rem;
}

.main_pamm-service .tableArea_main-table .title-container .title_question .title {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7rem;
}

.main_pamm-service .tableArea_main-table .title-container .title_question .questionMark {
  background: url(./img/question_Icon.png) no-repeat;
  width: 3rem;
  height: 2rem;
  margin-left: .7rem;
  cursor: pointer;
}

.main_pamm-service .tableArea_main-table .title-container .see_all {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.020000000298023224rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #828282;
  cursor: pointer;
}

.main_pamm-service .tableArea_main-table .table {
  width: 58.5rem;
  height: 27.7rem;
}

.main_pamm-service .tableArea_main-table .table_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 700;
  line-height: 1.9rem;
  color: #828282;
  border: 1.5px solid #E0E0E0;
}

.main_pamm-service .tableArea_main-table .table_titles .title_item {
  width: 20%;
}

.main_pamm-service .tableArea_main-table .table_row {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #E0E0E0;
}

.main_pamm-service .tableArea_main-table .table_row .row_element {
  width: 20%;
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 600;
  line-height: 20px;
}

.main_pamm-service .tableArea_main-table .table_row .row_element_active {
  text-decoration: underline;
}

.main_pamm-service .tableArea_main-table .table_row .row_element_graph {
  background: url(./img/graph.png) no-repeat;
  width: 20%;
  height: 3rem;
}

@media screen and (max-width: 1240px) {
  .main .main_pamm-service {
    padding: 4rem 0;
  }
  .main .main_pamm-service .pamm-container {
    width: 100%;
  }
  .main .main_pamm-service .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 2rem;
  }
  .main .main_pamm-service .text .title, .main .main_pamm-service .text .subtitle {
    margin-bottom: 2rem;
    text-align: center;
  }
  .main .main_pamm-service .tableArea {
    margin: 0 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main .main_pamm-service .tableArea_main-table {
    margin-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main .main_pamm-service .tableArea_main-table .table {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .main .main_pamm-service .tableArea_main-table .table_row .row_element {
    font-size: 1rem;
  }
  .main .title_item {
    font-size: 1rem;
  }
}

.footer {
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  background-color: var(--secondary-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_container {
  height: 14.5rem;
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8.5rem 2rem 8.5rem 2rem;
}

.footer_container .footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 100%;
}

.footer_container .logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.footer_container .logo-info .main-logo {
  background: url(./img/main_logo.svg) no-repeat;
  background-size: 75%;
  min-width: 25rem;
  height: 100%;
}

.footer_container .logo-info .info {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  color: #828282;
  max-width: 20rem;
}

.footer_container .bold_item {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  line-height: 2.3rem;
  font-weight: 600;
  cursor: pointer;
}

.footer_container .usual_item {
  font-family: Segoe UI;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-elem);
  font-weight: 400;
  line-height: 1.9rem;
  cursor: pointer;
}

.footer_container .rmf, .footer_container .ttt, .footer_container .arc, .footer_container .hhpp {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer .footer_container {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 1.5rem 2rem 1.5rem 2rem;
  }
  .footer .footer_container .logo-info {
    margin-top: 5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer_container .logo-info .main-logo {
    background-size: 100%;
    min-height: 7rem;
  }
  .footer .footer_container .logo-info .info {
    max-width: 100%;
    font-size: 1.5rem;
    line-height: 1;
  }
  .footer .footer_container .footer-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer_container .footer-navigation .rmf, .footer .footer_container .footer-navigation .ttt, .footer .footer_container .footer-navigation .arc, .footer .footer_container .footer-navigation .hhpp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-right: 0;
  }
  .footer .footer_container .footer-navigation .bold_item, .footer .footer_container .footer-navigation .usual_item {
    font-size: 3rem;
    line-height: 2;
  }
}

@media screen and (max-width: 768px) and (max-width: 422px) {
  .footer .footer_container .footer-navigation .bold_item, .footer .footer_container .footer-navigation .usual_item {
    font-size: 2rem;
    line-height: 1.8;
  }
}
/*# sourceMappingURL=index.css.map */