:root {
    font-size: 10px;
    --black-surface: #121212;
    --slider-bg: #89DD65;
    --main-bg: #FFFFFF;
    --secondary-bg: #F5F5F7;
    --for-border: 0.5px solid #121212;
    --main-elem: #121212;
    transition: .5 ease all;
} [theme='dark'] {
    font-size: 10px;
    --black-surface: #89DD65;
    --slider-bg: linear-gradient(171.08deg, #FFFFFF -1.08%, #D9D9D9 101.93%);
    --main-bg: #121212;
    --for-border: 0.5px solid #E0E0E0;
    --secondary-bg: #333333;
    --main-elem: #E0E0E0;
    transition: .5 ease all;

    .header_top_container  {
        .theme_button {
            background: url(./img/sun_blackS.svg) no-repeat;
        }
        .arrow_btn {
            background: url(./img/arrow_drop_down_blackS.svg) no-repeat;
        }
    }
    .header_low_container {
        &_main_logo {
            background: url(./img/main-logo_blackS.svg) no-repeat;
        }
        &_header_navigation .arrow_btn {
            background: url(./img/arrow_drop_down_blackS.svg) no-repeat;
        }
        .burger-header_menu {
            background: url(./img/bgreen.svg) no-repeat;
            background-size: 100%;
        }
    }
    .main_for-container .for-items-container .for_item {
        .img_person {
            background: url(./img/person_blackS.png) no-repeat;
        }
        .img_bag {
            background: url(./img/bag_blackS.png) no-repeat;
        }
        .img_technology {
            background: url(./img/technology_blackS.png) no-repeat;
        }
    }
    .main_pamm-service .tableArea_main-table  {
        .title-container .title_question .questionMark {
            background: url(./img/question_Icon_blackS.png) no-repeat;
        }
        .table_row .row_element_graph {
            background: url(./img/graph_blackS.png) no-repeat;
            mix-blend-mode: lighten;
        }
    }
    .footer_container .logo-info .main-logo {
        background: url(./img/main-logo_blackS.svg) no-repeat;
    }
}

    $lime-gradient: linear-gradient(225deg, #89DD65 0%, #AEDD65 100%);
    $grey-font: #828282;

  

    body {
        margin: 0;
        padding: 0;
        user-select: none;
    }

    #check-menu {
        display: none;
    }

    a {
        text-decoration: none;
    }

@mixin section-main {
    font-family: Segoe UI;
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
    color: var(--main-elem);
}

@mixin loginSegoeUI {
    @include section-main();
    line-height: 2.5rem;
    font-weight: 600;
    color: #89DD65;
}

@mixin SegoeUI {
    @include section-main();
    font-weight: 300;
    line-height: 2.5rem;
}

@mixin SergoUI-lower_header {
    @include section-main();
    text-align: right;
    line-height: 3.5rem;
    font-weight: 400;
}

@mixin SergoUI-open_btns {
    @include section-main();
    text-align: center;
    line-height: 2.5rem;
    font-weight: 400;
}

@mixin titleSupport {
    @include section-main();
    font-size: 3rem;
    font-weight: 700;
    color: var(--black-surface);
}

@mixin subtitleSupport {
    @include section-main();
    font-weight: 400;
    line-height: 2.7rem;
}

@mixin fortitle {
    @include section-main();
    text-align: center;
    font-weight: 700;
    line-height: 4rem;
    color: var(--black-surface);
}

@mixin pamm-service-title {
    @include section-main();
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    color: var(--black-surface);
}

@mixin company-info {
    @include section-main();
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    color: $grey-font;
}

@mixin bold_item {
    @include section-main();
    line-height: 2.3rem;
    font-weight: 600;
}

@mixin usual_item {
    @include section-main();
    font-weight: 400;
    line-height: 1.9rem;
}

@mixin table_title {
    @include section-main();
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.7rem;
}

@mixin table_titles {
    @include section-main();
    font-weight: 700;
    line-height: 1.9rem;
    color: $grey-font;
}

@mixin table_element {
    @include section-main();
    font-weight: 600;
    line-height: 20px;
}

@mixin see_all {
    @include section-main();
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.020000000298023224rem;
    text-decoration-line: underline;
    color: $grey-font;
    cursor: pointer;
}

@mixin counter {
    @include section-main();
    font-weight: 400;
    line-height: 3rem;
    color: #121212;
}